.custom-placeholder::placeholder {
  color: white;
}

.custom-placeholder:focus {
  box-shadow: none !important;
  border-color: #17a2b8 !important;
}

.custom-placeholder {
  resize: none;
  overflow: auto;
  color: white;
  border-color: #444444;
}
